.register {
    width: 100vw;
    height: 100vh;
    background: repeating-radial-gradient(#393939, #222223);
    background-size: cover;
    position: relative;
}

.top {
    display: flex;
    .wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        margin-top: 10px;
        margin-right: 20px;
    }
}

.logo {
    height: 120px;
    width: 180px;
}

.loginButton {
    background-color: #037bff;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #044ca5;
}

.loginButton:active {
    background-color: #037bff;
}

.container {
    width: 100%;
    margin-top: 70px;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.container h1 {
    font-size: 50px;
}

.container h2 {
    margin: 20px;
}

.container p {
    font-size: 20px;
}

.input {
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;
}

.input input {
    flex: 9;
    height: 100%;
    border: none;
    padding: 0 10px;
    background-color: #393939;
    color: white;
    font-size: 15px;
}

.registerButton {
    flex: 3;
    height: 100%;
    background-color: #037bff;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.registerButton:hover
{
    background-color: #044ca5;
}
