.featured {
  height: calc(100vh - 70px);
  position: relative;
  overflow: hidden;
  color: white;
  z-index: 1;
}

.featured img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.category {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  z-index: 2;
}

.category select {
  cursor: pointer;
  background-color: var(--main-color);
  border: 1px solid white;
  color: white;
  margin-left: 20px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.category select:hover {
  background-color: white;
  color: var(--main-color);
}

.info {
  width: 60%;
  position: absolute;
  left: 50px;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.info img {
  width: 100%;
  max-width: 400px;
  margin-top: 0px;
  object-fit: contain;
  order: 3;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.desc {
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.5;
  flex-grow: 1;
}

.buttons {
  display: flex;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.buttons .play {
  background-color: white;
  color: var(--main-color);
}

.link {
  text-decoration: none;
}

.buttons .play:hover {
  background-color: var(--main-color);
  color: white;
}

.buttons .more {
  background-color: gray;
  color: white;
}

.buttons .more:hover {
  background-color: darkgray;
}

.buttons span {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .category {
    font-size: 24px;
  }

  .category select {
    font-size: 14px;
  }

  .info {
    width: 80%;
    left: 20px;
    bottom: 20px;
  }

  .info img {
    max-width: 300px;
    margin-top: 50px;
  }

  .desc {
    font-size: 16px;
  }

  .buttons button {
    font-size: 16px;
    padding: 8px 16px;
  }
}
