.navbar {
  width: 100%;
  color: white;
  font-size: 17px;
  font-weight: 550;
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 999;
  align-content: center;
  backdrop-filter: blur(80px);
}

.container {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.left {
  display: flex;
  align-items: center;
  font-size: 17px;
}

.left img {
  height: 90px;
  width: 135px;
  margin-right: 10px;
}

.left span,
.left .link {
  margin-right: 15px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.right {
  display: flex;
  align-items: center;
}

.right .icon {
  margin: 0 10px;
  cursor: pointer;
}

.right img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.profile {
  position: relative;
}

.profile .options {
  display: none;
  background-color: black;
  border-radius: 3px;
  position: absolute;
  top: 35px;
  right: 0;
  padding: 10px;
  flex-direction: column;
}

.profile:hover .options {
  display: flex;
}

.profile span {
  padding: 5px 10px;
  cursor: pointer;
}

.odjavaText {
  padding-right: 10px;
  cursor: pointer;
  color: white;
}

.link {
  text-decoration: none;
}
