.userList {
    flex: 1;
    padding: 10px;
    margin: 20px;
    margin-top: 70px;
    align-items: center;
    align-content: center;
  }

  .userListUser {
    align-items: center;
  }
  
  .userListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }


  .userListEdit{
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: white;
      cursor: pointer;
      margin-right: 15px;
  }

.userListActionCell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.userListDelete {
    cursor: pointer;
    color: white; /* Optional: Customize the color of the delete icon */
    background-color: red;
    border: none;
    border-radius: 10px;
    height: 25px;
    text-align: center;
    padding: 5px 10px;
}

