.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 70px;
    background-color: #222223;
}

.mapContainer {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

iframe
{
    width: 830px;
    height: 500px;
}

.content {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kontaktContent {
    text-align: center;
}

.contactInfo {
    margin-bottom: 30px;
    font-size: 1.1em;
    color: white;
}

.contactForm {
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.contactForm input,
.contactForm textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    color: #333;
    transition: border-color 0.3s ease;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.contactForm input:focus,
.contactForm textarea:focus {
    border-color: #007bff;
    outline: none;
}

.contactForm textarea {
    height: 150px;

}

.contactForm button {
    background-color: #037bff;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.contactForm button:hover {
    background-color: #0056b3;
}
