.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin: 50px;
    margin-top: 70px;
    background-color: #222223;
    color: white;
    border-radius: 10px;
    padding: 20px;
}

.mapContainer {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

iframe {
    width: 100%;
    max-width: 830px;
    height: 500px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kontaktContent {
    text-align: center;
    width: 100%;
}

.contactInfo {
    margin-bottom: 30px;
    font-size: 1.1em;
    color: #bbb;
}

.contactForm {
    margin: 0 auto;
    background-color: #3d3d3d;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;

}

.contactForm h3 {
    margin-bottom: 20px;
    color: white;
}

.contactForm input,
.contactForm textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: white;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #3d3d3d;
}

.contactForm input:focus,
.contactForm textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
    outline: none;
}

.contactForm textarea {
    height: 150px;
    resize: none;
}

.contactForm button {
    background-color: #037bff;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contactForm button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 86, 179, 0.3);
}

.contactForm button:active {
    background-color: #037bff;
}
