:root {
  --main-color: #1a1a1a;
  --accent-color: #e50914;
  --text-color: #ffffff;
  --background-gradient: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* A cool gradient background */
  --background-color: #222223;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

.link {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .example-class {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .example-class {
    font-size: 12px;
    padding: 5px;
  }
}
