.oNamaContainer {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    padding: 40px;
    text-align: left;
    background-color: #2c2c2c;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: #e0e0e0;
}

.logo {
    height: 120px;
    width: 180px;
    display: block;
    margin: 20px auto;
}

.oNamaContainer1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #2c2c2c;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #494646;
}

.oNamaContainer1 h2 {
    font-size: 36px;
    color: #ffffff;
}

.oNamaContainer p {
    font-size: 18px;
    color: #d3d3d3;
    line-height: 1.8;
    margin: 20px 30px;
}

.tempFot {
    margin-top: 50px;
}

.teamSection {
    margin-top: 50px;
    text-align: center;
}

.teamMember {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.teamMember img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.teamMember h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
}

.teamMember p {
    font-size: 16px;
    color: #b0afaf;
}
